/* Apercu Pro - Regular */
@font-face {
  font-family: 'Apercu Pro';
  src: url('/fonts/Apercu/Apercu Pro 5.003/Apercu Pro/Apercu Pro Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Apercu Pro - Regular Italic */
@font-face {
  font-family: 'Apercu Pro';
  src: url('/fonts/Apercu/Apercu Pro 5.003/Apercu Pro/Apercu Pro Regular Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Apercu Pro - Medium */
@font-face {
  font-family: 'Apercu Pro';
  src: url('/fonts/Apercu/Apercu Pro 5.003/Apercu Pro/Apercu Pro Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Apercu Pro - Medium Italic */
@font-face {
  font-family: 'Apercu Pro';
  src: url('/fonts/Apercu/Apercu Pro 5.003/Apercu Pro/Apercu Pro Medium Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Apercu Pro - Bold */
@font-face {
  font-family: 'Apercu Pro';
  src: url('/fonts/Apercu/Apercu Pro 5.003/Apercu Pro/Apercu Pro Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Apercu Pro - Bold Italic */
@font-face {
  font-family: 'Apercu Pro';
  src: url('/fonts/Apercu/Apercu Pro 5.003/Apercu Pro/Apercu Pro Bold Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Apercu Mono Pro - Regular */
@font-face {
  font-family: 'Apercu Mono Pro';
  src: url('/fonts/Apercu/Apercu Pro 5.003/Apercu Mono Pro/Apercu Mono Pro Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Apercu Mono Pro - Medium */
@font-face {
  font-family: 'Apercu Mono Pro';
  src: url('/fonts/Apercu/Apercu Pro 5.003/Apercu Mono Pro/Apercu Mono Pro Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Apercu Mono Pro - Bold */
@font-face {
  font-family: 'Apercu Mono Pro';
  src: url('/fonts/Apercu/Apercu Pro 5.003/Apercu Mono Pro/Apercu Mono Pro Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
